{% extends 'listar.html' %}
{% load static %}
{% block title %} Asignados {% endblock %}

{% block titulo_tabla %} Listado de Proyectos asignados {% endblock %}

{% block btn-agregar %}
<a class="mb-3 btn btn-outline-success " href="#"><i class="fa-solid fa-list-check"></i></i> Ver Revisiones</a>

{% endblock %}

{% block columas %}
<th scope="col">Bpin</th>
<th scope="col">Proyecto</th>
<th scope="col">fecha creacion</th>
<th scope="col">Presentación</th>
<th scope="col">Acciones</th>
{% endblock %}
{% block filas %}
{% for proyecto in proyectos %}
{% for p_u in proyecto_usuario %}
{% if proyecto.id == p_u.proyecto_id %}
{% if p_u.usuario_id == user.id %}

<tr>
    <td>{{proyecto.bpin}}</td>
    <td>{{proyecto.nombre_proyecto}}</td>
    <td>{{proyecto.fecha_ingreso}}</td>
    <td>{{proyecto.presentacion}}</td>
    <td>
        <a class="btn-sm btn btn-outline-info me-2 mb-2 rounded-pill" href="/llenar_info/{{proyecto.id}}"><i 
            class="fa-solid fa-eye"></i> Revisar</a>
    </td>
</tr>
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{% endblock %}
