{% extends 'layout.html' %}
{% load static %}
{% block librearias %}
<link rel="stylesheet" href="{% static 'lib\bootstrap-5.0.2-dist\css\jquery.dataTables.min.css' %}">
<script src="{% static 'lib\bootstrap-5.0.2-dist\js\jquery.dataTables.min.js' %}"></script>

{% endblock %}


{% block title %} Inicio {% endblock %}



{% block content %}

<div class="container mb-4" style="padding: 2%;">
    <div class="card card-default">
        <div class="card-header">
            <h5 class="card-title">
                <i class="fa-solid fa-list"></i>
                {% block titulo_tabla %} {% endblock %}
            </h5>
        </div>

        <div class="card-body">
            {% block btn-agregar %}
            <a class="btn btn-outline-primary me-2 mb-4 rounded-pill" type="button" href="#" data-bs-toggle="modal" data-bs-target="#crear_reg"><i class="fa-sharp fa-solid fa-plus"></i> Nuevo Registro</a>
            
            <!-- Modal para crear registros-->
            <div class="modal fade" id="crear_reg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{% block titulo_modal %} {% endblock %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- aqui el formulario de crear registros-->
                            {% block formulario %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!-- Tabla para listar registros-->
            <table class="table" id="myTable">
                <thead class="table-dark">
                    <tr>
                        {% block columas %}

                        {% endblock %}
                    </tr>
                </thead>
                <tbody>
                    {% block filas %}

                    {% endblock %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}


<script src="{% static 'js\modales.js' %}"></script>
<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
{% endblock %}