{% extends 'listar.html' %}
{% load static %}
{% block title %} Listado de municipios {% endblock %}

{% block btn-volver %}

<div class="container mb-4">
    <a href="#" class="btn btn-outline-dark me-2 mb-2 rounded-pill"><i
            class="fa-sharp fa-solid fa-arrow-left"></i>Volver</a>
</div>
{% endblock %}


{% block titulo_tabla %} Listado de Municipios {% endblock %}

{% block titulo_modal %} Crear nuevo municipio {% endblock %}

{% block formulario %}
<form action="/nuevo_municipio/" method="POST">
    {% csrf_token %}
    <label for="nombre_municipio">Nombre del municipio</label>
    <input type="text" name="nombre_municipio" id="txtnombremunicipio" minlength="4" required>
    <input class="btn btn-primary" type="submit" value="Guardar">
</form>
{% endblock %}

{% block columas %}
<th scope="col">id</th>
<th scope="col">Nombre</th>
<th scope="col">Acciones</th>
{% endblock %}

{% block filas %}

{% for municipio in municipios %}
<tr>
    <th scope="row">{{municipio.id}}</th>
    <td>{{municipio.nombre_municipio}}</td>
    <td>
        <button type="button" onclick="ModalEditar('{{municipio.id}}','{{municipio.nombre_municipio}}')"
            class="btn-sm btn btn-outline-warning me-2 mb-2 rounded-pill"><i
                class="fa-regular fa-pen-to-square"></i></button>

        <button type="button" onclick="ModalEliminar('{{municipio.id}}','{{municipio.nombre_municipio}}')"
            class="btn-sm btn btn-outline-danger me-2 mb-2 rounded-pill"><i class="fa-solid fa-trash-can"></i></button>

    </td>
</tr>
<!-- Modal para modificar Registros-->
<div class="modal fade" id="editar-registro" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:rgb(249, 247, 247);">
                <h5 class="modal-title">Cambiar el nombre a <span style="background-color: yellow;"
                        id="nombre-registro"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- aqui el formulario de modificar registros-->
                <form action="/editar_municipio/" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nuevo Nombre:</label>
                        <input name="id_municipio" type="hidden" class="form-control" id="id-registro">
                        <input name="nuevo_nombre" type="text" class="form-control mb-2" id="nuevo-nombre" minlength="4" required>
                    </div>  
            </div>

            <div class="modal-footer" style="background-color:rgb(249, 247, 247);">
                <button type="submit" class="btn btn-outline-primary rounded-pill ">Cambiar</button>
                <button type="button" class="btn btn-outline-danger rounded-pill"
                    data-bs-dismiss="modal">Cerrar</button>
            </div>
                </form>   
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}