{% extends 'Layout.html' %}
{% load static %}
{% block title %} pruebas {% endblock %}
{% block content %}
<div class="container">
    <br>

    <div class="row">
        <div class="card">
            
            <div class="card-header">
                <h6>Estado Actual del proyecto</h6>
            </div>
            <div class="card-body">
                <a class="btn btn-secondary" href="/listar_proyectos/"><i class="fa-solid fa-arrow-left"></i> Volver al listado</a>
            <br>
                <table class="table">
                    <th scope="col">Bpin</th>
                    <th scope="col">proyecto</th>
                    <th scope="col">estado</th>
                    <th scope="col">Acciones</th>

                    {% for e in estados %}
                    <tr>
                        <th scope="row">{{ bpin }}</th>
                        <td>{{e.proyecto}}</td>
                        <td>{{e.estado}}</td>
                        <td>
                            <a class="btn-sm btn btn-outline-success me-2 mb-2" href="#"><i
                                    class="fa-solid fa-user-plus"></i> Asignar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}