{% extends 'listar.html' %}
{% load static %}
{% block title %} Municipios {% endblock %}

{% block librearias %}

{% endblock %}

{% block titulo_tabla %} Listado de Municipios {% endblock %}

{% block titulo_modal %} Crear nuevo municipio {% endblock %}

{% block formulario %}
<form action="/nuevo_municipio/" method="POST">
    {% csrf_token %}
    <label for="nombre_municipio">Nombre del municipio</label>
    <input type="text" name="nombre_municipio" id="txtnombremunicipio" minlength="4" required>
    <input class="btn btn-primary" type="submit" value="Guardar">
</form>
{% endblock %}

{% block columas %}
<th scope="col">id</th>
<th scope="col">Nombre</th>
<th scope="col">Acciones</th>
{% endblock %}

{% block filas %}

{% for municipio in municipios %}
<tr>
    <th scope="row">{{municipio.id}}</th>
    <td>{{municipio.nombre_municipio}}</td>
    <td> 
        {% if perms.gestion_proyectos.change_municipios %}
        <button type="button" onclick="EditarRegistro('{{municipio.id}}','{{municipio.nombre_municipio}}')"
            class="btn-sm btn btn-outline-warning me-2 mb-2 rounded-pill"><i
                class="fa-regular fa-pen-to-square"></i></button>
        {% endif %}
        {% if perms.gestion_proyectos.delete_municipios %}
        <button type="button" onclick="EliminarRegistro('{{municipio.id}}','{{municipio.nombre_municipio}}')"
        class="btn-sm btn btn-outline-danger me-2 mb-2 rounded-pill"><i class="fa-solid fa-trash-can"></i></button>
        {% endif %}
    </td>
</tr>
<!-- Modal para modificar Registros-->
<div class="modal fade" id="editar-registro" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:rgb(249, 247, 247);">
                <h5 class="modal-title">Cambiar el nombre a <span style="background-color: yellow;"
                        id="nombre-registro"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- aqui el formulario de modificar registros-->
                <form action="/editar_municipio/" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nuevo Nombre:</label>
                        <input name="id_editar" type="hidden" class="form-control" id="id-registro">
                        <input name="nuevo_nombre" type="text" class="form-control mb-2" id="nuevo-nombre" minlength="4"
                            required>
                    </div>
            </div>

            <div class="modal-footer" style="background-color:rgb(249, 247, 247);">
                <button type="submit" class="btn btn-outline-primary rounded-pill ">Cambiar</button>
                <button type="button" class="btn btn-outline-danger rounded-pill" data-bs-dismiss="modal">Cerrar</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal para Eliminar Registros-->
<div class="modal fade" id="eliminar-registro" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:rgb(249, 247, 247);">
                <h5 class="modal-title">¿Desea eliminar el municipio: <span style="background-color: yellow;"
                        id="registro-eliminar"></span>?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- aqui el formulario de eliminar registros-->
                <form action="/eliminar_municipio/" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <div class="alert alert-warning" role="alert">
                            <h6><i class="fa-solid fa-triangle-exclamation"></i>  Los registros eliminados no se pueden recuperar !!</h6>
                          </div>
                        <input name="id_eliminar" type="hidden" class="form-control" id="id-eliminar">
                    </div>
            </div>

            <div class="modal-footer" style="background-color:rgb(249, 247, 247);">
                <button type="submit" class="btn btn-outline-primary rounded-pill ">Si, eliminar</button>
                <button type="button" class="btn btn-outline-danger rounded-pill"
                    data-bs-dismiss="modal">No, cancelar</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}